/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>

/ {
    macros {
        SKIP_WORD_RIGHT: SKIP_WORD_RIGHT {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LEFT_ALT &kp RIGHT_ARROW>,
                <&macro_release>;

            label = "SKIP_WORD_RIGHT";
        };

        SKIP_WORD_LEFT: SKIP_WORD_LEFT {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LEFT_ALT &kp LEFT_ARROW>,
                <&macro_release>;

            label = "SKIP_WORD_LEFT";
        };

        CODE_COMMENT: CODE_COMMENT {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LEFT_WIN &kp SLASH>,
                <&macro_release>;

            label = "CODE_COMMENT";
        };

        COLLAPSE_LEVEL: COLLAPSE_LEVEL {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LEFT_WIN>,
                <&macro_tap>,
                <&kp K>,
                <&macro_release>,
                <&kp LEFT_COMMAND>;

            label = "COLLAPSE_LEVEL";
        };

        SCREENSHOT_COPY: SCREENSHOT_SAVE {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LEFT_COMMAND &kp LEFT_CONTROL &kp LEFT_SHIFT &kp NUMBER_4>,
                <&macro_release>;

            label = "SCREENSHOT_SAVE";
        };

        SCREENSHOT_SAVE: SS_SAVE {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LEFT_COMMAND &kp LEFT_CONTROL &kp LEFT_SHIFT &kp NUMBER_4>,
                <&macro_release>;

            label = "SS_SAVE";
        };

        CODE_VIEW_SPLIT: CODE_VIEW_SPLIT {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LEFT_WIN &kp BACKSLASH>,
                <&macro_release>;

            label = "CODE_VIEW_SPLIT";
        };
    };

    combos {
        compatible = "zmk,combos";

        enter {
            bindings = <&kp ENTER>;
            key-positions = <24 52>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            // ------------------------------------------------------------------------------------------------------------
            // |  ESC  |  1  |  2  |  3   |  4   |  5   |                   |  6   |  7    |  8    |  9   |   0   |   `   |
            // |  TAB  |  Q  |  W  |  E   |  R   |  T   |                   |  Y   |  U    |  I    |  O   |   P   |   -   |
            // |  CTRL |  A  |  S  |  D   |  F   |  G   |                   |  H   |  J    |  K    |  L   |   ;   |   '   |
            // | SHIFT |  Z  |  X  |  C   |  V   |  B   |   "["  |  |  "]"  |  N   |  M    |  ,    |  .   |   /   | SHIFT |
            //                     | ALT  | GUI  | LOWER|  SPACE |  | ENTER | RAISE| BSPC  | GUI   |

            display-name = "Base";
            bindings = <
&kp ESC                 &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3      &kp NUMBER_4  &kp N5                                                       &kp NUMBER_6       &kp N7         &kp N8         &kp N9   &kp N0    &kp EQUAL
&mt BACKSPACE TAB       &kp Q         &kp W         &kp E             &kp R         &kp T                                                        &kp Y              &kp U          &kp I          &kp O    &kp P     &kp MINUS
&mt LEFT_COMMAND ENTER  &kp A         &kp S         &kp D             &kp F         &kp G                                                        &kp H              &kp J          &kp K          &kp L    &kp SEMI  &kp SQT
&kp LSHFT               &kp Z         &kp X         &kp C             &kp V         &kp B             &lt 2 LEFT_BRACKET    &lt 2 RIGHT_BRACKET  &kp N              &kp M          &kp COMMA      &kp DOT  &kp FSLH  &kp RSHFT
                                                    &kp LEFT_CONTROL  &kp LEFT_ALT  &kp LEFT_COMMAND  &lt 1 SPACE           &lt 1 ENTER          &kp RIGHT_COMMAND  &kp BACKSPACE  &kp LC(SPACE)
            >;
        };

        lower_layer {
            // ------------------------------------------------------------------------------------------------------------
            // | BTCLR | BT1 | BT2 |  BT3 |  BT4 |  BT5 |                   |      |       |       |      |       |       |
            // |  F1   |  F2 |  F3 |  F4  |  F5  |  F6  |                   |  F7  |  F8   |  F9   |  F10 |  F11  |  F12  |
            // |   `   |  !  |  @  |  #   |  $   |  %   |                   |  ^   |  &    |  *    |  (   |   )   |   ~   |
            // |       |     |     |      |      |      |        |  |       |      |  _    |  +    |  {   |   }   |  "|"  |
            //                     |      |      |      |        |  |       |      |       |       |

            display-name = "Lower";
            bindings = <
&trans  &trans  &trans          &trans          &trans           &kp HOME                         &trans           &kp LS(LA(LEFT))  &msc SCRL_DOWN  &kp LS(LA(RIGHT))  &trans          &kp C_VOLUME_UP
&trans  &trans  &kp LA(LEFT)    &kp UP_ARROW    &kp LA(RIGHT)    &kp PAGE_UP                      &trans           &kp LA(LEFT)      &kp UP_ARROW    &kp LA(RIGHT)      &kp K_MUTE      &kp C_VOLUME_DOWN
&trans  &trans  &kp LEFT_ARROW  &kp DOWN_ARROW  &kp RIGHT_ARROW  &kp PAGE_DOWN                    &msc SCRL_RIGHT  &kp LEFT_ARROW    &kp DOWN_ARROW  &kp RIGHT_ARROW    &msc SCRL_LEFT  &kp GRAVE
&trans  &trans  &trans          &trans          &trans           &trans         &trans    &trans  &trans           &trans            &msc SCRL_UP    &trans             &kp BACKSLASH   &trans
                                &trans          &trans           &trans         &trans    &trans  &trans           &trans            &trans
            >;
        };

        raise_layer {
            // ------------------------------------------------------------------------------------------------------------
            // |       |     |     |      |      |      |                   |      |       |       |      |       |       |
            // |   `   |  1  |  2  |  3   |  4   |  5   |                   |  6   |   7   |   8   |  9   |   0   |       |
            // |   F1  |  F2 |  F3 |  F4  |  F5  |  F6  |                   |      |   <-  |   v   |  ^   |  ->   |       |
            // |   F7  |  F8 |  F9 |  F10 |  F11 |  F12 |        |  |       |  +   |   -   |   =   |  [   |   ]   |   \   |
            //                     |      |      |      |        |  |       |      |       |       |

            display-name = "Raise";
            bindings = <
&kp F1      &kp F2      &kp F3      &kp F4  &kp F5  &kp F6                        &kp F7            &kp F8            &kp F9  &kp F10  &kp F10  &kp F12
&bt BT_PRV  &bt BT_NXT  &bt BT_CLR  &trans  &trans  &sys_reset                    &CODE_COMMENT     &CODE_VIEW_SPLIT  &trans  &trans   &trans   &trans
&trans      &trans      &trans      &trans  &trans  &trans                        &SCREENSHOT_COPY  &SCREENSHOT_SAVE  &trans  &trans   &trans   &trans
&trans      &trans      &trans      &trans  &trans  &trans      &trans    &trans  &trans            &trans            &trans  &trans   &trans   &trans
                                    &trans  &trans  &trans      &trans    &trans  &trans            &trans            &trans
            >;
        };
    };
};
